* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #3a7bd5, #3a6073);
  font-family: sans-serif;
  height: 100vh;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 400px;
  padding: 15px 30px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}
.popup.active {
  opacity: 0;
}
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.close-btn:hover {
  scale: 1.1;
}
h2 {
  color: #222;
  text-align: center;
}
h2,
.form-element {
  margin: 1rem 0;
}
.form-element input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
#remember-me {
  margin-right: 0.3rem;
}
.form-element button {
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #222;
  border: none;
  outline: none;
  cursor: pointer;
}
.form-element button:hover {
  background-color: #4d4d4d;
}
.form-element a {
  text-decoration: none;
  color: #222;
}
